{% load static %}
<!-- Static navbar -->

<div class="container main_menu center-align fixed">
    <div class="fixed">
<div class="row headimg">

        <img  src="{% static '/img/linelogo.png' %}" class="responsive-img">

</div>
<div class="row btnrow">
    <div class="col s1 m1 l1 right"> </div>
    <div class="col s1 m1 l1 right">
            <a href="https://gdb.rferl.org/358ED41C-B546-4B52-B8E3-24E6105503D5_w1023_r1_s.jpg">
                <div class = "fontButton">Контакты</div>
                <img  src="{% static '/img/button.png' %}" class ="imgButton responsive-img"> </a>
    </div>

    <div class="col s1 m1 l1 right">
            <a href="/we">
                <div class = "fontButton">О нас</div>
                <img  src="{% static '/img/button.png' %}" class ="imgButton responsive-img"> </a>
    </div>

    <div class="col s1 m1 l1 right">
            <a href="/news">
                <div class = "fontButton">Новости</div>
                <img  src="{% static '/img/button.png' %}" class ="imgButton responsive-img"> </a>
    </div>

     <div class="col s1 m1 l1 right">
            <a href="/catalog">
                <div class = "fontButton">Каталог</div>
                <img  src="{% static '/img/button.png' %}" class ="imgButton responsive-img"> </a>
     </div>


     <div class="col s1 m1 l1 right">
            <a href="/">
                <div class = "fontButton">Главная</div>
                <img  src="{% static '/img/button.png' %}" class ="imgButton responsive-img"> </a>
     </div>
</div>
</div>
</div>